.idea
.vscode
.zed

.env

var/
frontend/node_modules

config/config.yaml

bin/*
!bin/.gitkeep
!bin/*.sh

*.db

__debug_*
cover.out

.claude

!.git/hooks/post-tag
resources/frontend_build/*
!resources/frontend_build/.gitkeep
