.modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal-layout-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-layout-content {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100% - 4rem);
}

.close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.modal-content-scroller {
    height: 100%;
    overflow: auto;
}
