@if (task$ | async; as t) {
    <nav class="mb-3 d-flex gap-2">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a [routerLink]="appRoutes.board(t.board_id)">Development</a></li>
            <li class="breadcrumb-item active">#Feat-123</li>
        </ol>
    </nav>

    <div class="row g-4">
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <span class="badge text-bg-primary mb-2">
                        #Feat-123
                    </span>
                </div>
                <div class="d-flex gap-2">
                    <button
                        class="btn btn-sm btn-primary"
                        type="submit"
                        (click)="submit($event)"
                        [disabled]="taskEditForm().invalid()"
                        >Save</button>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-sm">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-100">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" class="form-control" type="text" placeholder="Task title"
                           [formField]="taskEditForm.title"/>
                </div>

                <div class="d-flex gap-2 flex-wrap mb-3">
                    <span class="badge text-bg-secondary">
                        authentication
                    </span>

                    <span class="badge text-bg-secondary">
                        backend
                    </span>

                    <span class="badge text-bg-secondary">
                        oauth
                    </span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                        <ngx-editor
                            [editor]="editor"
                            [(ngModel)]="html"
                            [disabled]="false"
                            [placeholder]="'Type here...'"
                            (ngModelChange)="onBodyChange($event)"
                        ></ngx-editor>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    Details
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Board</span>
                        <a routerLink="/board">Development</a>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Column</span>
                        <strong>In Progress</strong>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Priority</span>
                        <span class="badge text-bg-danger">
                        High
                    </span>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Assignee</span>
                        <strong>Alex</strong>
                    </div>
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Reporter</span>
                        <strong>Kate</strong>
                    </div>
                    @if (t.due_to) {
                        <div class="list-group-item d-flex justify-content-between">
                            <span class="text-muted">Due to</span>
                            <span>{{ t.due_to | date }}</span>
                        </div>
                    }
                    <div class="list-group-item d-flex justify-content-between">
                        <span class="text-muted">Created</span>
                        <span>{{ t.created_at | date }}</span>
                    </div>
                    @if (t.updated_at) {
                        <div class="list-group-item d-flex justify-content-between">
                            <span class="text-muted">Updated</span>
                            <span>{{ t.updated_at | timeAgo }}</span>
                        </div>
                    }
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Activity
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <small class="text-muted">
                            Today 10:14
                        </small>
                        <div>
                            Status changed to
                            <strong>In Progress</strong>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <small class="text-muted">
                            Yesterday
                        </small>
                        <div>
                            Alex assigned the task.
                        </div>
                    </div>
                    <div class="list-group-item">
                        <small class="text-muted">
                            Aug 5, 2026
                        </small>
                        <div>
                            Task created.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
