@if (board$ | async; as board) {
    <div class="row mb-4    ">
        <div class="col-8">
            <div class="d-flex align-items-center gap-3">
                <h2 class="mb-1">{{ board.title }}</h2>
                <button class="button">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
            <p class="text-muted mb-0">
                {{ cardsAmount() }} cards
                @if (board.updated_at) {
                    · Updated {{ board.updated_at | timeAgo }}
                }
            </p>
        </div>
        <div class="col-4 text-end">
            <button class="button button-pill" disabled>
                <i class="fa-solid fa-filter me-2"></i>
                Filter
            </button>
            <button class="button button-pill" disabled>
                <i class="fa-solid fa-users me-2"></i>
                Members
            </button>
        </div>
    </div>

    <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)"
         class="d-flex gap-3 pb-2">
        <!-- Column -->
        <div cdkDropListGroup class="d-flex gap-3">
            @if (kolumns$ | async; as columns) {
                @for (c of columns; track c.id) {
                    <div cdkDrag [cdkDragData]="c" class="board-column">
                        <div
                            class="justify-content-between align-items-center d-flex bg-body-tertiary py-2 px-3 rounded">
                            <div class="fw-bolder flex-grow-1">{{ c.title }}</div>
                            <button cdkDragHandle class="btn btn-sm">
                                <span class="icon">
                                    <i class="fa-regular fa-hand"></i>
                                </span>
                            </button>

                            @if (projectId$ | async; as projectId) {
                                <lu-create-task-modal
                                    [column_id]="c.id"
                                    [board_id]="c.board_id"
                                    [task_count]="c.tasks.length"
                                    [project_id]="projectId"
                                    [nextPosition]="c.tasks.length ? c.tasks[0].position / 2: 1"
                                />
                            }

                            <lu-column-menu-dropdown [stageId]="c.id">
                                <lu-column-delete-prompt
                                    columnMenuSlot
                                    class="list-group-item list-group-item-action p-0 text-danger"
                                    [stageId]="c.id"/>
                            </lu-column-menu-dropdown>
                        </div>

                        <!-- Tasks -->
                        <div class="p-2 d-flex flex-column gap-2" cdkDropList
                             [cdkDropListData]="c.tasks"
                             (cdkDropListDropped)="dropTask($event, c)"
                        >
                            @for (task of c.tasks; track task.id) {
                                <div cdkDrag [cdkDragData]="task">
                                    <lu-task-card [task]="task">
                                        <lu-assignment-dropdown assignmentSlot [task]="task"/>
                                    </lu-task-card>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            <lu-new-column-form [board_id]="boardId()" [position]="columnsAmount()"/>
        </div>
    </div>
}
